body::before{
    content: "";
    width: 100%;
    height: 465px;
    position: absolute;
    z-index: -1;
    background: #293241;
    top: 0px;
    left: 0px;
}

body{
    background: #BFD7E4;
    font-family: 'Poppins', sans-serif;
}

body h1, h2{
    font-family: 'Staatliches', cursive;
}

header{
    text-align: center;
    font-size: 16px;
    margin-top: 152px;
    color: #FFFFFF;

}

header h1{
    font-size: 36px;
}
header h2{
    font-size: 24px;
}

header div{
    box-sizing: border-box;
    width: 750px;
    height: 133px;
    margin-top: 465;
    background: #F67669;
    margin-left: 230px;
    margin-top: 87px;
    text-align: center;
    padding: 40px;
    border-radius: 20px 20px 0px 0px;

}

fieldset{
    box-sizing: border-box;
    width: 750px;
    margin-left: 230px;
    min-height: 300px;
    border: none;
    background: #FFFFFF;
    font-size: 14px;
    padding: 50px;
    color: #4E4958;
    font-weight: bold;
}

label span{
    color: #C1BCCC;
}

form input{
    width: 100%;
    height: 55px;
    font-size: 22px;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    margin-bottom: 15px;

}

form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form h2{
    text-align: center;
}

hr{
    border-color: #E6E6F0;
    margin-bottom: 30px;
}

.aolado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#mentor{
    width: 300px;
}

#check{
    display: flex;
    flex-direction: row;
    margin: 30px;
    align-items: center;
}

#check input{
    width: 24px;
    height: 24px;
    border-radius: 8px;
    margin-top: 15px;
}

footer{
    display: flex;
    justify-content: center;
    
    border-radius: 8px;
    background: #F67669;
}

footer input{
    width: 622px;
    height: 51px;
    color: #FFFFFF;
    background: none;
    border: none;
}


