body::before{
    content: '';
    width: 100%;
    height: 436px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    background: #535971;
}

header div{
    font-size: 20px;
}

#titulo{
    text-align: left;
    background: wheat;
    width: 400px;
    margin-left: 345px;
    margin-top: 138px;
}

#titulo h1{
    font-family: 'Staatliches', cursive;
    font-weight: 200;
    font-size: 48px;
}

#titulo p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.formulario{
    width: 750px;
    min-height: 300px;
    background: white;
    text-align: center;
}