body::before{
    content: '';
    width: 100%;
    height: 436px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    background: #535971;
}

header div{
    font-size: 20px;
}

#titulo{
    text-align: left;
    width: 400px;
    margin-left: 230px;
    margin-top: 138px;
    color: #EFEFEF;
}

#titulo h1{
    font-family: 'Staatliches', cursive;
    font-weight: 200;
    font-size: 48px;

}

#titulo p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}


.formulario{
    width: 750px;
    min-height: 300px;
    background: white;
    text-align: left;
    margin-top: 20px;
    margin-left: 230px;
    border-radius: 20px 20px 0px 0px;
    color: #535971;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 100px;
    line-height: 14px;
    border: 1px solid #E6E6F0;
    border-bottom: none;
}

.recebendo{
    display: flex;
    flex-direction: column;
    line-height: 12px;
    color: #4E4958;
}

.recebendo span{
    font-size: 12px;
    color: #C1BCCC;
}

.formulario h1{
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    margin-top: 50px;
}

.formulario h2{
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}

hr{
    margin-bottom: 50px;
}

.formulario label{
    margin-top: 30px;
    margin-bottom: 15px;
}


.formulario input{
    border-radius: 8px;
    height: 56px;
    border: 1px solid #EFEFEF;
    font-size: 24px;
    
}

.aolado{
    display: flex;
    
    justify-content: space-between;
    
}

.salvar{
    width: 852px;
    padding: 50px;
    background: #535971;
    margin-left: 230px;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid #E6E6F0;
    
}

.salvar input{
    width: 608px;
    height: 55px;
    background: #FF5374;
    border-radius: 20px;
    border: none;
    color: #EFEFEF;
    margin-left: 100px;
}



